<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="movies.test.softserve.movies">

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:name=".controller.MainController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_video_of_my_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_video_of_my_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MoviesListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MovieDetailsActivity"
            android:label="@string/title_activity_movie_details"
            android:parentActivityName=".activity.MoviesListActivity"
            android:theme="@style/AppTheme">

        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"/>

        <provider android:authorities="com.facebook.app.FacebookContentProvider203288643546859"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />



    </application>



</manifest>